:root {
  --background-color: #323232;
  --default-font: 'Roboto', sans-serif;
  --first-detail-color: #CBFF45;
  --hover-text-color: #CBFF45;
  --second-background-color: #232323;
  --second-detail-color: #C55FFF;
  --text-color: #ffffff;
}

* {
  background-color: var(--background-color);
  border: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--default-font);
  margin: 0;
  outline: 0;
  padding: 0;
}